.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(to top, #96c6eb, #46a3e9, #02084f);
}

.header__link {
  color: white;
  text-decoration: none;
}
